<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log_level" type="SinaWeiBo4wm.UiThread.ThreadUiController+ConfigSectionData, DAQ-OPC, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <log_level log_level="FATAL" />
</configuration>