<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DV_Mynah.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="Emerson.WebServices" type="EmersonProcess.Web.Services.Configuration.CommonConfigurationSection, EmersonProcess.Web.Services.Common" />
  </configSections>
  <Emerson.WebServices>
    <standard>
      <add name="LogDebugEntries" value="True"/>
    </standard>
    <extension>
      <add name="IsChecked" type="System.Boolean" value="false" />
    </extension>
  </Emerson.WebServices>
 <userSettings>
  <DV_Mynah.Properties.Settings>
   <setting name="CertificateAuthenticationMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CertificateAuthenticationFindValue" serializeAs="String">
    <value>CN=DVMynahCert</value>
   </setting>
   <setting name="ServerCertificate" serializeAs="String">
    <value>MynahCert</value>
   </setting>
  </DV_Mynah.Properties.Settings>
 </userSettings>
</configuration>