<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Emerson.WebServices" type="EmersonProcess.Web.Services.Configuration.CommonConfigurationSection, EmersonProcess.Web.Services.Common" />
	</configSections>
	<Emerson.WebServices>
		<standard>
			<add name="Authentication" value="Open"/>
			<add name="Protection" value="EncryptAndSign"/>
			<add name="BindingsEnabled" value="true"/>
			<add name="ServiceMetricsEnabled" value="false"/>
			<add name="DeploymentMode" value="Single"/>			
			<add name="NetTcpPort" value="49205"/>
			<add name="HttpPort" value=""/>
			<add name="LogDebugEntries" value="True"/>
			<add name="InactivityTimeout" value="1.00:00:00" />
			<add name="OpenTimeout" value="00:05:00" />
			<add name="SendTimeout" value="18:00:00" />
	  		<add name="ReceiveTimeout" value="18:00:00" />
		</standard>
		<extension>
			<add name="SetFiltering" type="System.Boolean" value="true" />
      <add name="CertificateAuthenticationMode" type="System.Boolean" value="false" />
      <add name="CertificateAuthenticationFindValue" type="System.String" value="CN=MynahCert" />
    </extension>
	</Emerson.WebServices>
	<system.serviceModel>
		<services>
			<service name="EmersonProcess.Web.Services.MynahIntegration.Services.MynahServices">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:49205/MynahIntegration"/>
					</baseAddresses>
				</host>
				<endpoint binding="netTcpBinding"
                  contract="EmersonProcess.Web.Services.MynahIntegration.Services.IDeltaVMynahIntegrationService"/>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name ="netTcp"
									maxReceivedMessageSize="2147483647"
									maxConnections="2147483647">
									<readerQuotas
											  maxDepth ="64"
												maxStringContentLength="2147483647"
											  maxArrayLength="2147483647"	
												maxBytesPerRead="4096"
											  maxNameTableCharCount="16384"/>
								</binding>
			</netTcpBinding>		
		</bindings>
	</system.serviceModel>
</configuration>
