<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Emerson.WebServices" type="EmersonProcess.Web.Services.Configuration.CommonConfigurationSection, EmersonProcess.Web.Services.Common" />
  </configSections>
  <Emerson.WebServices>
    <standard>
      <add name="Authentication" value="Secured" />
      <add name="Protection" value="EncryptAndSign" />
      <add name="BindingsEnabled" value="true" />
      <add name="ServiceMetricsEnabled" value="true" />
      <add name="DeploymentMode" value="Receiver" />      
      <add name="LogEncryptionAlgorithm" value="Rijndael" />
      <add name="HttpPort" value="49202" />
      <add name="NetTcpPort" value="49203" />
      <add name="InactivityTimeout" value="1.00:00:00" />
      <add name="OpenTimeout" value="00:05:00" />
      <add name="SendTimeout" value="00:15:00" />
      <add name="ReceiveTimeout" value="00:15:00" />
    </standard>
    <extension>
      <add name="Retry" type="System.Int32" value="5" />
      <add name="LoggingEnabled" type="System.Boolean" value="false" />
    </extension>
  </Emerson.WebServices>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service name="EmersonProcess.Web.Services.CampaignManager.Service.CMService">
        <endpoint address="" binding="wsHttpBinding" contract="EmersonProcess.Web.Services.CampaignManager.Service.ICMService" />
        <endpoint address="" binding="netTcpBinding" contract="EmersonProcess.Web.Services.CampaignManager.Service.ICMService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:49202/CampaignManager/CMService" />
            <add baseAddress="net.tcp://localhost:49203/CampaignManager/CMService" />
          </baseAddresses>
        </host>
      </service>
    </services>    
  </system.serviceModel>
</configuration>