<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Emerson.WebServices" type="EmersonProcess.Web.Services.Configuration.CommonConfigurationSection, EmersonProcess.Web.Services.Common" />
  </configSections>

  <Emerson.WebServices>
    <standard>
      <add name="DeploymentMode" value="Single"/>
      <add name="Authentication" value="Secured"/>
      <add name="Protection" value="EncryptAndSign"/>
      <add name="BindingsEnabled" value="true"/>      
      <add name="ServiceMetricsEnabled" value="true"/>
      <add name="LogDebugEntries" value="false"/>
      <add name="LogEncryptionAlgorithm" value="Rijndael" />
      <add name="HttpPort" value="49200" />
      <add name="NetTcpPort" value="49201" />
	  <add name="InactivityTimeout" value="1.00:00:00" />
	  <add name="OpenTimeout" value="00:05:00" />
	  <add name="SendTimeout" value="02:00:00" />
	  <add name="ReceiveTimeout" value="02:00:00" />
    </standard>
    <extension>      
      <add name="ArchiveFiles" type="System.Boolean" value="true"/>
      <add name="MaxArchiveFolderSize" type="System.Int32" value="2147483647"/>
      <add name="maxStringContentLength" type="System.Int32" value="2147483647"/>
    </extension>
  </Emerson.WebServices>

  <system.serviceModel>
    <services>      
      <service name="EmersonProcess.Web.Services.RecipeExchange.RExService" >
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:49200/RecipeExchange/REService"/>
            <add baseAddress="net.tcp://localhost:49201/RecipeExchange/REService"/>
          </baseAddresses>
        </host>
        <endpoint binding="wsHttpBinding" bindingConfiguration="wshttpRExBinding"
                  contract="EmersonProcess.Web.Services.RecipeExchange.Contracts.IRExService" />
        <endpoint binding="netTcpBinding" bindingConfiguration="nettcpRexBinding"
                  contract="EmersonProcess.Web.Services.RecipeExchange.Contracts.IRExService" />        
      </service>
    </services>
   
    <bindings>
      <wsHttpBinding>
        <binding name="wshttpRExBinding" sendTimeout="00:10:00" receiveTimeout="00:10:00" messageEncoding="Mtom" >
          <readerQuotas maxStringContentLength="20000" maxBytesPerRead="4096"/>
          <!--<reliableSession ordered="true" enabled="true" inactivityTimeout="00:10:00"/>-->
          <security mode ="Message">
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>

      <netTcpBinding>
        <binding name="nettcpRexBinding" sendTimeout="00:10:00" receiveTimeout="00:10:00" transferMode="Buffered" >
          <readerQuotas maxStringContentLength="20000" maxBytesPerRead="4096"/>
          <!--<reliableSession ordered="true" enabled="true" inactivityTimeout="00:10:00"/>-->
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <!--<diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtTransportLevel="True" logMalformedMessages="true"/>
    </diagnostics>-->

  </system.serviceModel>


</configuration>


